@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>SuperShoes</h1>
</div>

<div class="row">

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading pane">
                <h2 class="panel-title">Stores</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Address</td>
                                    <td>Articles</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: stores'>
                                <tr>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: address"></td>
                                    <td><input type="button" class="btn btn-primary btn-xs" value="Edit" data-bind="click: $parent.editStore" /></td>
                                    <td><input type="button" class="btn btn-danger btn-xs" value="Remove" data-bind="click: $parent.removeStore" /></td>
                                    <td><small><a href="#" data-bind="click: $parent.getArticles">Articles</a></small></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><input type="button" class="btn btn-primary btn-xs" value="New" data-bind="click: setVisibility"/></td>
                                    <td><small><a href="#" data-bind="click: getAllArticles">All Articles</a></small></td>
                                </tr>
                            </tfoot>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Articles</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Description</td>
                                    <td>Price</td>
                                    <td>Total in Shelf</td>
                                    <td>Total in Vault</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: articles'>
                                <tr>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: description"></td>
                                    <td data-bind="text: price">
                                    <td data-bind="text: total_in_shelf"></td>
                                    <td data-bind="text: total_in_vault"></td>
                                    <td><input type="button" class="btn btn-primary btn-xs" value="Edit" data-bind="click: $parent.editArticle" /></td>
                                    <td><input type="button" class="btn btn-danger btn-xs" value="Remove" data-bind="click: $parent.removeArticle" /></td>
                                </tr>
                            </tbody>
                            <tfoot data-bind="visible: show">
                                <tr>
                                    <td><input type="button" class="btn btn-primary btn-xs" value="New" data-bind="click: setVisible" /></td>
                                </tr>
                            </tfoot>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="loader" style="margin: 0 auto;" data-bind="visible: loader"></div>

<div class="row">

    <div class="col-md-6" data-bind="visible: visibility">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Store</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addStore">
                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 control-label">Store</label>
                    </div>

                    <div class="form-group" data-bind="with: currentStore">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:name" />
                        </div>

                        <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAddress" data-bind="value:address" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-xs">Submit</button>
                    <button type="button" class="btn btn-warning btn-xs" data-bind="click: hideVisibility">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12" data-bind="visible: visible">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Article</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addArticle">
                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 control-label">Article</label>
                    </div>

                    <div class="form-group" data-bind="with: currentArticle">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value:name" />
                        </div>

                        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescription" data-bind="value:description" />
                        </div>

                        <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputPrice" data-bind="value:price" />
                        </div>

                        <label for="inputShelf" class="col-sm-2 control-label">Total in Shelf</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputShelf" data-bind="value:total_in_shelf" />
                        </div>

                        <label for="inputVault" class="col-sm-2 control-label">Total in Vault</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputVault" data-bind="value:total_in_vault" />
                        </div>
                        <div></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-xs">Submit</button>
                    <button type="button" class="btn btn-warning btn-xs" data-bind="click: hideVisible">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
